* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
}

.bg-image {
    height: 40vh;
    background-image: url('../images/banner.png');
}

.bg-color {
    height: 39.7vh;
    background-color: black;
}

.logo-caption h5 {
    padding: 0;
    margin: 0;
}

.logo-caption p {
    font-size: 10px;
    color: #BABCC4;
    margin: 0;
    padding: 0;
}

.nav-link {
    padding: 2px 20px !important;
    margin-left: 20px;
    border: transparent 1px solid;
    transition: all 1s;
    border-radius: 20px;
}

.home-link {
    color: #009AD8 !important;
    border: #009AD8 1px solid;
    border-radius: 20px;
}

.nav-link:hover {
    color: #009AD8 !important;
    border-color: #009AD8;
}


/* ================================================================================== */

footer {
    background-color: #262936;
}

.form-group {
    position: relative;
}

input {
    border: none !important;
    padding: 25px 20px !important;
    border-radius: 25px !important;
    background-color: #000 !important;
}

button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 90%;
    border-radius: 25px !important;
}

footer button {
    left: 80%;
}

.icons .layer:hover {
    background-color: #009AD8;
    color: white;
}

.icons .layer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    color: #009AD8;
    transition: all 1s;
    font-size: 18px;
}

.weather {
    height: 400px;
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
}

.one,
.three {
    background-color: #323544;
}

.two {
    background-color: #1a1b20;
}

.one,
.two,
.three {
    border-radius: 10px;
}

.one .date,
.three .date {
    background-color: #1a1b20;
}

.weather-caption p {
    padding: 0 !important;
    margin: 0 !important;
}

#location {
    margin-bottom: 10px !important;
}

#temp {
    margin-bottom: 10px !important;
    font-size: 56px;
}

#status {
    color: #009AD8;
}

.date {
    border-radius: 10px;
}

.two .date {
    background-color: #323544;
}

.weather-caption .max-temp {
    font-size: 24px;
    margin-bottom: 10px !important;
}

.weather-caption .max-temp,
.weather-caption .two img,
.weather-caption .three img {
    margin-top: 15px !important;
}

.weather-caption .min-temp {
    margin-bottom: 20px !important;
}

.two .stat,
.three .stat {
    color: #009AD8;
}